# Example tracking WRF

In [22]:
from pathlib import Path
import numpy as np
import tobac 
import pandas as pd 
import iris 
import xarray as xr 
import matplotlib.pyplot as plt
# import parameters for feature detection and segmentation
from parameters import parameters_features, parameters_segmentation, dxy, dt

import warnings  
warnings.filterwarnings("ignore")

In [34]:
savedir = Path('out/')
file = 'WRFOut_TP9km_HourlyP_2016_08.nc'
Precip=iris.load_cube(file, 'Prep')
Precip

## Feature detection

In [25]:

Features= tobac.feature_detection_multithreshold(Precip,dxy,**parameters_features) 
Features.to_hdf(os.path.join(savedir,'Features_201708.h5'),'table')

## Segmentation

In [40]:
Mask, Features_cells = tobac.segmentation_2D(Features, Precip, dxy, **parameters_segmentation)

In [45]:
iris.save([Mask], savedir/ 'Mask_Segmentation_201708.nc',zlib=True,complevel=4)                
Features_cells.to_hdf(savedir/'Features_cells_201708.h5','table')

## Basic statistics of results

In [46]:
Features_cells

,frame,idx,hdim_1,hdim_2,num,threshold_value,feature,time,timestr,south_north,west_east,latitude,ncells
0,0,213,186.427090,172.900360,111,3,1,2016-08-01 00:00:00,2016-08-01 00:00:00,187.427090,173.900360,20.696021,181
1,0,352,19.168350,624.332594,104,4,2,2016-08-01 00:00:00,2016-08-01 00:00:00,20.168350,625.332594,6.807577,121
2,0,702,62.104280,246.032291,105,5,3,2016-08-01 00:00:00,2016-08-01 00:00:00,63.104280,247.032291,11.505109,344
3,0,970,453.941080,663.253202,108,5,4,2016-08-01 00:00:00,2016-08-01 00:00:00,454.941080,664.253202,40.247262,379
4,0,1334,14.403124,571.819486,120,8,5,2016-08-01 00:00:00,2016-08-01 00:00:00,15.403124,572.819486,7.077270,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5371,743,619,197.809874,541.952560,101,7,5372,2016-08-31 23:00:00,2016-08-31 23:00:00,198.809874,542.952560,21.762032,168
5372,743,676,98.429181,158.399001,107,8,5373,2016-08-31 23:00:00,2016-08-31 23:00:00,99.429181,159.399001,13.552009,237
5373,743,912,230.837943,624.474061,399,10,5374,2016-08-31 23:00:00,2016-08-31 23:00:00,231.837943,625.474061,23.272222,957
5374,743,921,244.356457,324.329658,233,10,5375,2016-08-31 23:00:00,2016-08-31 23:00:00,245.356457,325.329658,26.513585,782
5375,743,935,356.739494,687.125487,696,10,5376,2016-08-31 23:00:00,2016-08-31 23:00:00,357.739494,688.125487,32.079457,1766